@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --clrwhite: hsl(0, 0%, 99%);
  --clrblack: hsl(210, 36%, 9%);
  --clryellow: hsl(54, 92%, 58%);
}

/* **general component styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-style: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--clrwhite);
}
h1,
h2,
h3 {
  font-weight: 700;
}
.container {
  width: 70rem;
  margin: 0 auto;
  outline: 2px solid rgb(255, 49, 49);
}
.button-one {
  background-color: var(--clryellow);
  color: var(--clrblack);
  padding: 0.4rem 1.8rem;
  font-size: 1.1rem;
  font-weight: 500;
  font-style: italic;
  border-radius: 2rem;
  cursor: pointer;
}
.button-two {
  background-color: transparent;
  color: var(--clryellow);
  padding: 0.4rem 1.8rem;
  font-size: 1.1rem;
  font-weight: 500;
  font-style: italic;
  border-radius: 2rem;
  cursor: pointer;
  outline: 2px solid var(--clryellow);
}
/* general component styles */



/* **custom styles */
/* **HERO SECTION */
#hero {
  background-image: url(/assets/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.nav-container {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo a img {
  width: 3.5rem;
  height: auto;
}
.list a {
  font-weight: 500;
  margin-left: 5rem;
  text-decoration: none;
  color: var(--clrwhite);
}
.hero-container {
  height: 33rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.8rem 4.8rem 1.9rem 4.8rem;
}
.hero-text {
  line-height: 4rem;
  color: var(--clrwhite);
}
.hero-text h1 {
  color: var(--clryellow);
  line-height: 5rem;
  font-size: 4rem;
  font-weight: 700;
}
.hero-text p {
  font-size: 1.1rem;
}
.hero-image img {
  width: 27rem;
  height: auto;
}
.arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}
/* HERO SECTION */



/* **ABOUT ME SECTION */
.one {
  background-color: var(--clrwhite);
}
.two {
  background-color: var(--clrblack);
}
.three {
  background-color: var(--clrblack);
}
#slider {
  overflow: hidden;
}
#slider .figure {
  position: relative;
  width: 400%;
  /* animation: 10s slider infinite; */
}
/* @keyframes slider {
  0% {
    left: 0;
  }
  28.33%{
    left: 0;
  }
  33.33% {
    left: -100%;
  }
  61.66% {
    left: -100%;
  }
  66.66% {
    left: -200%;
  }
  95% {
    left: -200%;
  }
  100% {
    left: -300%; 
  }
} */
.slideHolder {
  display: flex;
  height: 39rem;
  float: left;
  width: calc(100% / 4);
  outline: 2px solid rgb(55, 0, 255);
}


/* ** FIRST SLIDE */
.holder-one {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.box > .boxShadow {
  width: 25rem;
  height: 25rem;
  border-radius: 2rem;
  margin-right: 5rem;
  position: absolute;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}
.box-shape {
  mask-image: url(assets/laptop.png);
  width: 25rem;
  height: 25rem;
  border-radius: 2rem;
  margin-right: 5rem;
  position: relative;
}
.box-shape > .laptop {
  position: absolute;
  left: -23%;
  width: auto;
  height: 105%;
  transition: transform 0.2s ease-in-out;
}
.box-shape:hover > img {
  transform: scale(1.05);
}
.text {
  width: 25rem;
  color: var(--clrblack);
  font-size: 1.1rem;
  line-height: 2.1rem;
}
.text > h2 {
  color: var(--clrblack);
  font-size: 4rem;
  font-weight: 700;
}
.text > p {
  padding: 2.5rem 0;
  text-align: justify;
}
/* FIRST SLIDE */


/* **SECOND SLIDE */
.holder-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-1.6rem);
  height: 100%;
  color: var(--clrwhite);
}
.heading-two {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.description-two {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.3rem;
}
.heading-two > h2 {
  font-size: 4rem;
}
.description-two .paragraph {
  padding-right: 6rem;
  text-align: justify;
  line-height: 2.1rem;
}
.text-height {
  padding: 1.4rem 0;
}
.description-two img {
  width: 83%;
  height: auto;
}
/* SECOND SLIDE */


/* **THIRD SLIDE */
.holder-three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-6rem);
  height: 100%;
  color: var(--clrwhite);
  gap: 2rem;
  position: relative;
}
.heading-three {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.heading-three > h2 {
  font-size: 4rem;
}
.description-three{
  display: flex;
  gap: 10rem;
}
.web-dev{
  text-align: center;
}
.web-dev h3{
  font-size: 1.8rem;
  line-height: 4rem;
}
.web-dev button{
  margin: 6px 0;
}
.skill-icon{
  /* background-color: var(--clryellow);
  color: var(--clrblack);
  padding: 0.3rem 1.8rem;
  font-size: 1.1rem;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
  transition: .5s; */

  --color: #00A97F;
 padding: 0.8em 1.7em;
 background-color: transparent;
 border-radius: .3em;
 position: relative;
 overflow: hidden;
 cursor: pointer;
 transition: .5s;
 font-weight: 400;
 font-size: 17px;
 border: 1px solid;
 font-family: inherit;
 text-transform: uppercase;
 color: var(--color);
 z-index: 1;
}

.gfx-design{
  text-align: center;
}
.gfx-design h3{
  font-size: 1.8rem;
  line-height: 4rem;
}
.gfx-design button{
  margin: 6px 0;
}
.bg-images{
  display: flex;
  width: 100%;
  position: absolute;
  justify-content: space-between;
  align-items: end;
 bottom: 0;
 transform: translateY(5rem);
}
.webImg{
  width: 33%;
  height: auto;
}
.mobileImg{
  width: 30%;
  height: auto;
}
.skill-icon:hover{
  transform: scale(1.05);
}
#html::before, #html::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
 }


 #html::before {
  top: -1em;
  left: -1em;
 }
 
 #html::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
 }
 
 #html:hover::before, #html:hover::after {
  height: 410px;
  width: 410px;
 }
 
 #html:hover {
  color: rgb(10, 25, 30);
 }
 
 #html:active {
  filter: brightness(.8);
 }
/* #html:hover::after{
  color: white;
  width: 100%;
  transition: background-position 0.5s ease-in-out;  
} */
/* **THIRD SLIDE */
/* ABOUT ME SECTION */



/* **MY WORKS SECTION */
#myworks {
  background-color: var(--clrblack);
}
.myworksHeaders {
  display: flex;
  justify-content: center;
  outline: 2px solid rgb(55, 0, 255);
}
.myworksHeaders > h2 {
  color: var(--clryellow);
}
/* MY WORKS SECTION */
