@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --clrwhite: hsl(0, 0%, 99%);
  --clrblack: hsl(210, 36%, 9%);
  --clryellow: hsl(54, 92%, 58%);
}

/* **general component styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-style: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--clrwhite);
  min-height: 100vh;
}
h1,
h2,
h3 {
  font-weight: 700;
}
.container {
  width: 83%;
  /* width: 70rem; */
  margin: 0 auto;
  position: relative;
}
.button-one {
  background-color: var(--clryellow);
  color: var(--clrblack);
  padding: 0.4rem 1.8rem;
  font-size: 1.1rem;
  font-weight: 500;
  font-style: italic;
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.2s ease-in;
}
.button-two {
  background-color: transparent;
  color: var(--clryellow);
  padding: 0.4rem 1.8rem;
  font-size: 1.1rem;
  font-weight: 500;
  font-style: italic;
  border-radius: 2rem;
  cursor: pointer;
  outline: 2px solid var(--clryellow);
  transition: 0.2s ease-in;
}
.button-one:hover {
  transform: scale(1.02);
}
.button-two:hover {
  transform: scale(1.02);
}
/* general component styles */

/* **custom styles */
/* **HERO SECTION */
#hero {
  background-image: url(/assets/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.closebtn {
  display: none;
}
.menu {
  display: none;
}
.nav-container {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo a img {
  width: 3.5rem;
  height: auto;
}
.list a {
  font-weight: 500;
  margin-left: 5rem;
  text-decoration: none;
  color: var(--clrwhite);
  padding: 0 7px;
  position: relative;
}
.list a::after {
  content: "";
  position: absolute;
  background-color: var(--clryellow);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -8px;
  transition: 0.2s ease-in-out;
  border-radius: 10px;
}
.list a:hover::after {
  width: 100%;
}

.hero-container {
  height: 33rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.8rem 4.8rem 1.9rem 4.8rem;
}
.hero-text {
  width: 30rem;
  line-height: 4rem;
  color: var(--clrwhite);
}
.hero-text h1 {
  color: var(--clryellow);
  line-height: 5rem;
  font-size: 4rem;
  font-weight: 700;
}
.hero-text p {
  font-size: 1.1rem;
}
.hero-image img {
  width: 27rem;
  height: auto;
}
.arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}
.arrow-down {
  transition: 0.2s ease-in-out;
}
.arrow-down:hover {
  transform: translateY(-7px);
}
/* HERO SECTION */

/* **ABOUT ME SECTION */
.one {
  background-color: var(--clrwhite);
}
.two {
  background-color: var(--clrblack);
}
.three {
  background-color: var(--clrblack);
}
#slider {
  overflow: hidden;
}
#slider .figure {
  position: relative;
  width: 400%;
  /* animation: 10s slider infinite; */
}
/* @keyframes slider {
  0% {
    left: 0;
  }
  28.33%{
    left: 0;
  }
  33.33% {
    left: -100%;
  }
  61.66% {
    left: -100%;
  }
  66.66% {
    left: -200%;
  }
  95% {
    left: -200%;
  }
  100% {
    left: -300%; 
  }
} */
.slideHolder {
  display: flex;
  height: 39rem;
  float: left;
  width: calc(100% / 4);
}

/* ** FIRST SLIDE */
.holder-one {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.box > .boxShadow {
  width: 25rem;
  height: 25rem;
  border-radius: 2rem;
  margin-right: 5rem;
  position: absolute;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}
.box-shape {
  mask-image: url(assets/laptop.png);
  width: 25rem;
  height: 25rem;
  border-radius: 2rem;
  margin-right: 5rem;
  position: relative;
}
.box-shape > .laptop {
  position: absolute;
  left: -23%;
  width: auto;
  height: 105%;
  transition: transform 0.2s ease-in-out;
}
.box-shape:hover > img {
  transform: scale(1.05);
}
.text {
  width: 25rem;
  color: var(--clrblack);
  font-size: 1.1rem;
  line-height: 2.1rem;
}
.text > h2 {
  color: var(--clrblack);
  font-size: 4rem;
  font-weight: 700;
}
.text > p {
  padding: 2.5rem 0;
  text-align: justify;
}
/* FIRST SLIDE */

/* **SECOND SLIDE */
.holder-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-1.6rem);
  height: 100%;
  color: var(--clrwhite);
}
.heading-two {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.description-two {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.3rem;
}
.heading-two > h2 {
  font-size: 4rem;
}
.description-two .paragraph {
  padding-right: 6rem;
  text-align: justify;
  line-height: 2.1rem;
}
.text-height {
  padding: 1.4rem 0;
}
.description-two img {
  width: 83%;
  height: auto;
}
/* SECOND SLIDE */

/* **THIRD SLIDE */
.holder-three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-6.5rem);
  height: 100%;
  color: var(--clrwhite);
  gap: 1.5rem;
  position: relative;
}
.heading-three {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.heading-three > h2 {
  font-size: 4rem;
}
.description-three {
  display: flex;
  gap: 10rem;
}
.web-dev {
  text-align: center;
}
.web-dev h3 {
  font-size: 1.8rem;
  line-height: 4rem;
}
.web-dev button {
  margin: 6px 0;
}
.gfx-design {
  text-align: center;
}
.gfx-design h3 {
  font-size: 1.8rem;
  line-height: 4rem;
}
.gfx-design button {
  margin: 6px 0;
}
.bg-images {
  display: flex;
  width: 100%;
  position: absolute;
  justify-content: space-between;
  align-items: end;
  bottom: 0;
  transform: translateY(5rem);
}
.webImg {
  width: 33%;
  height: auto;
}
.mobileImg {
  width: 30%;
  height: auto;
}
.skill-icon:hover {
  transform: scale(1.05);
  transition: 0.5s ease-out;
}
.skill-icon {
  padding: 0.3rem 1.8rem;
  background-color: var(--clryellow);
  border-radius: 2rem;
  font-size: 1.1rem;
  color: var(--clrblack);
}
#html:hover {
  background-color: #ed4c24;
  transition: 0.25s;
  color: white;
}
#css:hover {
  background-color: #1958e0;
  transition: 0.25s;
  color: white;
}
#javascript:hover {
  background-color: hsl(46, 91%, 54%);
  transition: 0.25s;
  color: white;
}
#php:hover {
  background-color: #7980b5;
  transition: 0.25s;
  color: white;
}
#mysql:hover {
  background: linear-gradient(90deg, #00638a 50%, #eb8e15 50%);
  transition: 0.25s;
  color: white;
}
#figma:hover {
  background: url(assets/figmacolor.png);
  transition: 0.25s;
  color: white;
}
#adobexd:hover {
  background-color: #4f0b3c;
  transition: 0.25s;
  color: white;
}
#photoshop:hover {
  background-color: #08263b;
  transition: 0.25s;
  color: white;
}
#canva:hover {
  background: linear-gradient(90deg, #08c5cf 0%, #7a3bed 100%);
  transition: 0.25s;
  color: white;
}
/* **THIRD SLIDE */
/* ABOUT ME SECTION */

/* **MY WORKS SECTION */

.myworksHeaders {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 3rem;
}

.myworkslbl {
  color: var(--clrblack);
  font-size: 4rem;
  transition: 0.5s ease-in-out;
}
.mwlbl2 {
  color: var(--clryellow);
  font-size: 4rem;
  transition: 0.5s ease-in-out;
}

.myworksHeaders > button {
  font-style: italic;
  font-weight: 500;
  /* cursor: pointer; */
}

.webdevbtn {
  color: var(--clryellow);
  background-color: var(--clrblack);
  padding: 0.2rem 1.8rem;
  border-radius: 2rem;
}

.gfxbtn {
  color: var(--clrblack);
  background-color: var(--clryellow);
  padding: 0.2rem 1.8rem;
  border-radius: 2rem;
}

.myworksHolder {
  background-color: var(--clryellow);
  height: 42rem;
  transition: 0.5s ease-in-out;
}
.mwholder {
  background-color: var(--clrblack);
}
.myworks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 2.2rem;
}
/* WEB DEV PAGE */
.webContentHolder {
  width: 100%;
  height: 30rem;
  display: none;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
  text-align: center;
}

.carousel {
  color: rgb(212, 17, 17);
  font-weight: 700;
}
.gfx {
  color: var(--clryellow);
}
.github svg {
  display: inline-block;
  width: 3rem;
  height: auto;
  border-radius: 3rem;
  background-color: white;
}
/* GFX PAGE */
.graphicContentHolder {
  display: flex;
  width: 100%;
  height: 30rem;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
  text-align: center;
}
.gallery {
  display: flex;
  gap: 6px;
  padding: 0;
  margin: 0;
}
.col {
  display: flex;
  gap: 6px;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.col img {
  width: 135px;
  height: auto;
  transition: 0.2s ease-in-out;
  filter: grayscale(100%);
  cursor: pointer;
}
.col img:hover {
  transform: scale(1.05);
  filter: grayscale(0%);
}
.imgmodal {
  display: none;
  position: absolute;
  align-self: center;
  justify-self: center;
}

.imgmodal img::backdrop {
  background-color: black;
}

.container .imgmodal img {
  height: 500px;
  width: auto;
  object-fit: cover;
  filter: drop-shadow(0px 0px 70rem rgba(0, 0, 0, 1));
}
.container .imgmodal span {
  font-size: 5rem;
  position: absolute;
  color: rgb(255, 255, 255);
  z-index: 100;
  left: -5rem;
  top: -1rem;
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.3));
  cursor: pointer;
}

/* MY WORKS SECTION */

/* CONTACT SECTION */
#contact {
  background-image: url(/assets/contact-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 28rem;
  gap: 85px;
}
.contact-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.contact-text h3 {
  font-size: 2.8rem;
}
.contact-btn {
  font-weight: 700;
  padding: 0.6rem 3.1rem;
}
.icons a {
  margin: 0 0.3rem;
}
.icons img {
  width: 2.5rem;
  height: auto;
}
.icons img:hover {
  transform: scale(1.05);
}
.github_icon {
  width: 2.7rem !important;
  height: auto;
}
/* CONTACT SECTION */

/* FOOTER SECTION */
footer {
  background-color: var(--clrblack);
  position: relative;
}
.footer-container {
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #858585;
}
.footer-container p {
  font-weight: 300;
}
.contact-info {
  display: flex;
  align-items: center;
  gap: 30px;
}
.text-infos {
  text-align: right;
  line-height: 30px;
}
.arrow-up {
  position: absolute;
  top: -1.8rem;
  left: 7rem;
  z-index: 100;
}
.arrow-up:hover {
  transform: scale(1.05);
}

/* **1280 PX */
@media (max-width: 1280px) {
  .hero-text {
    line-height: 3.8rem;
  }
  .hero-text h1 {
    line-height: 5rem;
    font-size: 4rem;
  }
  .hero-text p {
    font-size: 1rem;
  }
  .hero-image img {
    width: 26rem;
  }

  .text > h2 {
    color: var(--clrblack);
    font-size: 3.8rem;
    font-weight: 700;
  }
  .text > p {
    padding: 2.5rem 0;
    text-align: justify;
  }

  .heading-two > h2 {
    font-size: 3rem;
  }
  .description-two {
    margin-top: 0;
  }
  .description-two .paragraph {
    font-size: 0.9rem;
    padding-right: 3rem;
  }
  .text-height {
    padding: 1rem 0;
  }
  .description-two img {
    width: 45%;
    height: auto;
  }
  .button-one {
    padding: 0.2rem 1.5rem;
    font-size: 1rem;
  }
  .button-two {
    padding: 0.2rem 1.5rem;
    font-size: 1rem;
  }
}

/* **1024 PX */
@media (max-width: 1024px) {
  .hero-image img {
    width: 23rem;
  }
  .hero-text h1 {
    line-height: 4.7rem;
    font-size: 3.5rem;
  }
}

/* **960 PX */
@media (max-width: 960px) {
  .hero-container {
    padding: 0;
  }
  .hero-image img {
    width: 20rem;
  }
  .hero-text h1 {
    line-height: 4rem;
    font-size: 3.2rem;
  }
  .hero-text {
    line-height: 2rem;
  }
  .hero-text p {
    font-size: 1rem;
  }
  .holder-one {
    outline: 2px solid red;
  }
  .box > .boxShadow {
    width: 19rem;
    height: 19rem;
    border-radius: 2rem;
    margin-right: 5rem;
    position: absolute;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  }
  .box-shape {
    mask-image: url(assets/laptop.png);
    width: 19rem;
    height: 19rem;
    border-radius: 2rem;
    margin-right: 1rem;
  }
  .text {
    padding: 1.5rem 0 1.5rem 1rem; /* top right bottom left */
  }
  .text > h2 {
    font-size: 3.5rem;
  }
  .text > p {
    padding: 1.5rem 0;
  }
  .holder-two {
    gap: 1.5rem;
  }
  .heading-two > h2 {
    font-size: 2.8rem;
  }
  .description-two .paragraph {
    text-align: justify;
    line-height: 1.6rem;
  }
  .text-height {
    padding: 0.7rem 0;
  }
  .description-two img {
    width: 48%;
    height: auto;
  }
  .paragraph p {
    font-size: 0.7rem;
  }
  .heading-three > h2 {
    font-size: 3rem;
  }
  .description-three {
    display: flex;
    gap: 3rem;
  }
  .web-dev h3 {
    font-size: 1.4rem;
    line-height: 4rem;
  }
  .gfx-design h3 {
    font-size: 1.4rem;
    line-height: 4rem;
  }
  .gfx-design button {
    margin: 6px 0;
  }
  .skill-icon {
    padding: 0.2rem 1.7rem;
    background-color: var(--clryellow);
    border-radius: 2rem;
    font-size: 1rem;
    color: var(--clrblack);
  }

/* MYWORKS */
  .myworksHeaders {
    gap: 1.5rem;
  }
  .myworkslbl {
    font-size: 3rem;
    transition: 0.5s ease-in-out;
  }
  .mwlbl2 {
    font-size: 3rem;
    transition: 0.5s ease-in-out;
  }
  .webdevbtn {
    padding: 0.2rem 1.3rem;
    border-radius: 2rem;
  }
  .gfxbtn {
    padding: 0.2rem 1.3rem;
    border-radius: 2rem;
  }
  /* WEB DEV PAGE */
  .webContentHolder {
    font-size: 1.2rem;
  }

  .contact-container {
    gap: 50px;
  }

  .footer-container p {
    font-weight: 300;
    font-size: 0.83rem;
  }

}


/* **768 PX */
@media(max-width: 768px){
  .menu{
    display: block;
    color: white;
    z-index: 100;
    width: 2.5rem;
    cursor: pointer;
  }
  .closebtn{
    display: block;
    font-size: 2.6rem;
    cursor: pointer;
  }
  .list{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    background-color: var(--clrwhite);
    z-index: 900;
    width: 40%;
    transition: 0.5s ease-out;
  }
  .list a{
    margin: 0;
    color: var(--clrblack);
    text-align: center;
    padding: 2.8rem 0;
    width: 100%;
  }
  .contact-text h3 {
    font-size: 2.4rem;
  }
}


/* **700 PX */
@media(max-width: 700px){
  .hero-image img {
    width: 18rem;
  }
  .hero-text h1 {
    line-height: 4rem;
    font-size: 3rem;
  }

  .box > .boxShadow {
    width: 17rem;
    height: 17rem;
    margin-right: 4rem;
  }
  .box-shape {
    width: 17rem;
    height: 17rem;
  }
  .text {
    padding: 1.5rem 0 1.5rem 1rem; /* top right bottom left */
  }
  .text > h2 {
    font-size: 3rem;
  }
  .text > p {
    line-height: 1.7rem;
    font-size: 1rem;
    padding: 1.4rem 0;
  }



  .heading-three > h2 {
    font-size: 2.8rem;
  }
 
  .web-dev h3 {
    font-size: 1.3rem;
    line-height: 4rem;
  }
  .gfx-design h3 {
    font-size: 1.3rem;
    line-height: 4rem;
  }
  .gfx-design button {
    margin: 5px 0;
  }
  .web-dev button {
    margin: 5px 0;
  }
  .skill-icon {
    padding: 0.2rem 1.7rem;
    border-radius: 2rem;
    font-size: 0.9rem;
  }

/* MYWORKS */
  .myworksHeaders {
  }
  .myworkslbl {
    font-size: 2.63rem;
    transition: 0.5s ease-in-out;
  }
  .mwlbl2 {
    font-size: 2.6rem;
    transition: 0.5s ease-in-out;
  }
  .webdevbtn {
    font-size: 0.78rem;
  }
  .gfxbtn {
    font-size: 0.78rem;
  }


  .contact-container {
    gap: 50px;
  }

  .footer-container p {
    font-weight: 300;
    font-size: 0.83rem;
  }


  .gallery {
    gap: 5px;
  }
  .col {
    gap: 5px;
  }
  .col img {
    width: 100%;
    height: auto;
    transition: 0.2s ease-in-out;
  }


  .container .imgmodal img {
    height: 20rem;
    width: auto;
    filter: drop-shadow(0px 0px 70rem rgba(0, 0, 0, 1));
  }
  .container .imgmodal span {
    font-size: 5rem;
    left: -3rem;
    top: -1rem;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.3));
  }

  .footer-container p {
    font-size: 0.78rem;
  }
}




