
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --clrwhite: hsl(0, 0%, 99%);
    --clrblack: hsl(210, 36%, 9%);
    --clryellow: hsl(54, 92%, 58%);
}

/* general component styles */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    border-style: none;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}
html{
  scroll-behavior: smooth;
}
body{
    background-color: var(--clrwhite);

}
h1, h2, h3{
    font-weight: 700;
}
.container{
    width: 70rem;
    margin: 0 auto;
    outline: 2px solid rgb(255, 49, 49);
}
.button-one{
  background-color: var(--clryellow);
  padding: 0.5rem 1.7rem;
  font-weight: 500;
  font-style: italic;
  border-radius: 2rem;
}
/* general component styles */


/* custom styles */
/* HERO SECTION */
#hero{
    background-image: url(/assets/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.nav-container{
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a img{
    width: 3.5rem;
    height: auto;
}
.list a{
    font-weight: 400;
    margin-left: 4rem;
    text-decoration: none;
    color: var(--clrwhite);
}
.hero-container{
  height: 33rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.8rem 4.8rem 1.9rem 4.8rem;
}
.hero-text{
    line-height: 4rem;
    color: var(--clrwhite);
}
.hero-text h1{
    color: var(--clryellow);
    line-height: 5rem;
    font-size: 4rem;
    font-weight: 700;
}
.hero-text p{
    font-size: 1.1rem;
}
.hero-image img{
    width: 27rem;
    height: auto;
}
.arrow-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
}
/* HERO SECTION */



/* ABOUT ME SECTION */
.one {
  background-color: var(--clrwhite);
  outline: 2px solid rgb(255, 49, 49);
}
.two {
  background-color: aqua;
  outline: 2px solid rgb(255, 49, 49);
}
.three {
  background-color: rgb(35, 189, 48);
  outline: 2px solid rgb(255, 49, 49);
}
#slider {
  overflow: hidden;
}
#slider .figure {
  position: relative;
  width: 400%;
  /* animation: 10s slider infinite; */
}
/* @keyframes slider {
  0% {
    left: 0;
  }
  28.33%{
    left: 0;
  }
  33.33% {
    left: -100%;
  }
  61.66% {
    left: -100%;
  }
  66.66% {
    left: -200%;
  }
  95% {
    left: -200%;
  }
  100% {
    left: -300%; 
  }
} */
.slideHolder {
  display: flex;
  height: 38rem;
  float: left;
  width: calc(100% / 4);
  outline: 2px solid rgb(55, 0, 255);
}


/* FIRST SLIDE */
.holder-one{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.box>.boxShadow{
  width: 25rem;
  height: 25rem;
  border-radius: 2rem;
  margin-right: 5rem;
  position: absolute;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}
.box-shape{
  mask-image: url(assets/laptop.png);
  width: 25rem;
  height: 25rem;
  border-radius: 2rem;
  margin-right: 5rem;
  position: relative;
}
.box-shape>.laptop{
  position: absolute;
  left: -23%;
  width: auto;
  height: 105%;
  transition: transform 0.2s ease-in-out;
}
.box-shape:hover>img {
  transform: scale(1.05); 
} 
.text{
  width: 25rem;
  color: var(--clrblack);
  font-size: 1.1rem;
  line-height: 2.1rem;
}
.text>h2{
  color: var(--clrblack);
    font-size: 4rem;
    font-weight: 700;
}
.text>p{
  padding: 2.5rem 0;
  text-align: justify;
}
/* FIRST SLIDE */

/* SECOND SLIDE */



/* SECOND SLIDE */

/* THIRD SLIDE */

/* THIRD SLIDE */
/* ABOUT ME SECTION */


/* MY WORKS SECTION */
#myworks{
  background-color: var(--clrblack);
}
.myworksHeaders{
  display: flex;
justify-content: center;
  outline: 2px solid rgb(55, 0, 255);
}
.myworksHeaders> h2{
  color: var(--clryellow);
}

/* MY WORKS SECTION */